<ul>
    {% for lesson in lessonslist %}
        <li>
            <strong><a href="{{ lesson.url | url }}">{{ lesson.data.title }}</a></strong>
            <span>{{ lesson.data.description }}</span>
        </li>
    {% endfor %}
</ul>