backend:
  name: git-gateway
  branch: main

media_folder: "_site/images/uploads"
public_folder: "/images/uploads"

collections: 
  - name: "lessons"
    label: "Lessons"
    folder: "lessons"
    slug: "{{year}}-{{months}}-{{day}}-{{slug}}"
    create: true
    fields: 
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/lesson.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Date", name: "date", widget: "date", default: "" }
      - { label: "lesson Body", name: "body", widget: "markdown" }
      - { label: "Featured Image", name: "featuredImage", widget: "image" }