<html>

<head>
    <title>Javascript Reference</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <h1>Javascript Reference</h1>
    {{ content | safe }}
</body>

</html>